%p#notice= notice

%p
  %b Country:
  = @item_region.country
%p
  %b Region:
  = @item_region.region
%p
  %b Level:
  = @item_region.level

= link_to 'Edit', edit_item_region_path(@item_region)
\|
= link_to 'Back', item_regions_path
