= form_for @item do |f|
  - if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :location
    = f.select :repo_id, @repos.map { |r| [r.name.camelize, r.id] }
  .field
    = f.label :type
    = f.select :item_type_id, @item_types.map { |t| [t.name.camelize, t.id] }
  .field
    = f.label :vintage
    = f.select :vintage_id, @item_vintages.map { |t| [t.year, t.id] }
  .field
    = f.label :region
    = f.select :item_region_id, @regions.map { |t| ["#{t.level.camelize}, #{t.region.camelize}, #{t.country.camelize}", t.id] }
  .field
    = f.label :size
    = f.select :item_size_id, @item_sizes.map { |s| [s.name.camelize, s.id] }
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :item_count
    = f.number_field :item_count
  .actions
    = f.submit 'Save'
