%p#notice= notice

%p
  %b Location:
  = repo(@item)
%p
  %b Name:
  = name(@item)
%p
  %b Type:
  = type(@item)
%p
  %b Vintage:
  = @item.vintage.year
%p
  %b Region:
  = region(@item)
%p
  %b Size:
  = size(@item)
%p
  %b Count:
  = @item.item_count

= link_to 'Edit', edit_item_path(@item)
\|
= link_to 'Back', "/repos/#{@item.repo_id}/items"
